html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

h1 {
  font-size: 60px;
  line-height: 26.4px;
}

h2 {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 23px;
  font-weight: 900;
  line-height: 1;
}

.dark-font {
  color: #444649;
}

.light-font {
  color: #FFF;
}

section {
  display: block;
  width: 95%;
  max-width: 1024px;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
  clear: both;
  box-sizing: border-box;
}

section h2 {
  padding-bottom: 2%;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.9;
}

blockquote {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

figcaption {
  color: #5b5b5b;
  font-size: 13px;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

:focus-visible {
  outline: 2px solid #fb90b7;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 50px 1fr;
}

.two-column {
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
  float: left;
}

.three-column {
  width: 33.33%;
  float: left;
}

.four-column {
  width: 25%;
  float: left;
}

.three-fourth-column {
  width: 63%;
  float: right;
}

#content-wrapper {
  margin: 0 auto;
}

/* Banner Section */
#banner {
  position: relative;
  min-height: 400px;
  background-color: #252934;
  clear: both;
  background-image: url('../assets/background_3.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#banner span {
  color: #e41f7b;
  font-weight: 900;
}

#banner img {
  margin: 30px auto 20px;
  max-width: 80%;
}

#banner header {
  color: #fff;
  padding-bottom: 10px;
}

#banner h1 {
  line-height: 1;
  margin: 10px auto;
}

#banner p {
  font-size: 30px;
  line-height: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

#menu {
  margin: 28px auto 0;
  display: inline-block;
}

#menu a {
  padding: 7px 30px;
  color: #e41f7b;
  margin: 10px 5px;
  font-weight: 200;
  font-size: 20px;
  border: 1px solid #e41f7b;
  border-radius: 5px;
}

#menu a:hover {
  color: #fb90b7;
  border-color: #fb90b7;
  text-decoration: none;
}

/* Intro Section */
#intro {
  background-color: #f5f5f5;
  padding: 40px 100px;
  clear: both;
  overflow: hidden;
  text-align: center;
}

#intro h3 {
  text-align: left;
}

#intro p {
  margin-top: 0;
  text-align: justify;
  font-size: 16px;
  line-height: 2em;
}

#intro dl {
  text-align: left;
  line-height: 2em;
}

#intro dt {
  float: left;
  width: 35%;
}

/* Education */
#educ {
  background: #9e3363;
  background-image: url('../assets/background_3.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: center;
  padding: 0 0 20px;
  color: #fff;
  text-align: center;
}

#educ h2 {
  padding-bottom: 0;
}

#educ strong {
  font-size: 18px;
}

/* More Intro */
#more-intro {
  background-color: #FFF;
  padding: 60px 0 0;
}

#more-intro .three-column {
  text-align: center;
  margin-bottom: 60px;
}

#more-intro h4 {
  color: #c6075c;
  text-transform: uppercase;
}

/* Contact */
#contact {
  background-color: #86003c;
  color: #FFF;
  padding: 60px 0;
}

#contact h2 {
  padding-bottom: 0;
  margin-bottom: 5px;
}

#contact form {
  width: 600px;
  max-width: 80%;
  margin: 0 auto;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

#contact input[type=text],
#contact input[type=email], 
#contact textarea {
  width: 100%;
  box-sizing: border-box;
}

#contact textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.9;
}

#contact .option-wrap {
  display: inline-block;
  margin-right: 20px;
}

#contact .button-wrapper {
  text-align: right;
}

#contact input[type=submit] {
  background-color: #252934;
  border-color: #252934;
  padding: 10px 30px;
}

#hiring-input label {
  display: inline-block;
  margin-right: 5px;
  font-weight: normal;
}

#hiring-input input {
  display: inline-block;
}

/* Academic Integrity */
#sm {
  background: #1b242f;
  padding: 10px 0 0;
  color: #fff;
  text-align: justify;
}

#sm section {
  padding: 10px;
}

#sm nav {
  display: block;
  text-align: center;
  margin: 0 auto;
}

#sm a {
  padding: 10px 15px;
  background: #262f38;
  margin: 0 5px;
  border-radius: 3px;
}

/* Bottom Section */
#bottom-wrapper {
  background-color: #303030;
}

/* Footer */
footer {
  background-color: #1b242f;
  color: #7d7c7c;
  max-width: 100%;
  padding: 1px 30px;
  text-align: center;
}

footer p {
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: #5d6b7d;
}

@media only screen and (max-width: 980px) { 
  .two-column, .three-column, .four-column {
    display: block;
    width: 100%;
    float: none;
    margin-bottom: 13px;
  }

  #intro {
    padding: 40px 10px 10px;
  }

  #intro h3 {
    text-align: center;
  }
}

@media only screen and (max-width: 550px) {
  #intro dt {
    float: none;
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  #contact form {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
}

